
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 1vh;
}

#boardGame{
    height: 40%;
    position: relative;
}

#contentGames{
    height: 60%;
    background-color: #e9cd9c;
}

.circleSize{
    width: 100px;
    height: 100px;
}

.heightJeu{
    height: 150px;
}

.imgTable{
    background-image: url(../img/tableOrdi.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.buttonRulesAndStart{
    position: absolute;
    bottom: 0;
    left: 0;
}

.titleScore{
    position: absolute;
    top: 0;
    font-size: 2rem;
    font-weight: bold;
}

#chronoPoints{
    position: absolute;
}

.imgContainer {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

#gameTitle {
    margin-top: 40px;
    font-size: 30px;
    background-color: white;
    border: black solid 1px;
}

.rules {
    font-size: 1rem;
    color: white;
    height: fit-content;
    background-color: #6F837A;
    border-radius: 10px;
    border: black solid 1px;
}

#qrcode {
    height: auto;
    cursor: pointer;
    max-height: 20rem;
    width: 100%;
}

.mainRow {
    height: fit-content;
    margin-top: 2rem;
}

.firstRow {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

.c-mb-2 {
    margin-bottom: 2rem;
}

.imgHead {
    height: 5rem;
    width: 5rem;
    opacity: 0;
}